body{
background-color:#222831;
font-family: 'Arial', sans-serif;
font-size: 16px;
line-height: 1.6;
}
nav {
	background-color: #393E46;
	overflow: hidden;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

nav a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: background-color 0.3s;
}

nav a:hover {
	background-color: #0056b3;
}
header{
	text-align: center;
}

.yonlendirme ul{
  	list-style-type: none;
	text-decoration: none;
}
.yonlendirme{
	text-decoration: none;
	overflow: hidden;
	text-align: right;
}
footer{
	text-align: center;
	bottom: 0;
	margin: 0;
	padding: 0;
}
.icerik{
	background-color: #fff;
}
.icerik_1{
	
	background-color: #fff;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
}
.konteynır{
	background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}
.icerik_1 a{
	color: black;
	text-decoration: none;
}
.icerik_2 a{
	text-decoration: none;
	color: black;
}
.icerik_2 a :hover{
	color: blue;
}
.reklam body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Siyah yarı saydam arka plan */
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.custom-window {
	position: relative;
	background-color: #fff;
	border: 2px solid #ccc;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	width: 100%;
}
.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	color: #888;
}
.reklam h1 {
	color: #333;
}
.reklam p {
	color: #666;
}
.custom-window a {
	text-decoration: none;
}