body{
background-color:#304D30;

    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    }
    nav {
        background-color: #0d0101;
        overflow: hidden;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }
    
    nav a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: background-color 0.3s;
    }
    
    nav a:hover {
        background-color: #0056b3;
    }
    .security-section {
        border: 2px solid #333;
        border-radius: 8px;
        background-color: #9f8c67;
        padding: 15px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  
      h2 {
        color: #333;
      }
  
      p {
        color: #555;
      }
      header{
        text-align: center;
      }
      footer{
        text-align: center;
      }